@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fff;
  --Soft-red: hsl(10, 79%, 65%);
  --Cyan: hsl(186, 34%, 60%);
  --Dark-brown: hsl(25, 47%, 15%);
  --Medium-brown: hsl(28, 10%, 53%);
  --Cream: hsl(27, 66%, 92%);
  --Very-pale-orange: hsl(33, 100%, 98%);
}

body {
    font-family: "DM Sans", sans-serif;
    background-color: var(--Cream);
}

.balance {
    margin: 1rem auto;
    width: 95%;
    padding: 0.75rem;
    background-color: var(--Soft-red);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--Very-pale-orange);
}

.balance h2 {
    font-weight: 700;
    font-size: 1.75rem;
    height: 3rem;
}

.balance p {
    font-weight: 400;
}

.container {
    margin: 1rem auto;
    height: 65vh;
    background-color: white;
    width: 95%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0.75rem;
    border-radius: 10px;
}

.totals {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--Medium-brown);
    padding: 1rem;
}

.thisMonth p {
  font-size: 0.79rem;
  color: var(--Cyan);
}

.lastmonth p:first-child {
    color: black;
    font-weight: 700;
}

.lastmonth {
    color: var(--Cyan);
}

.bars {
    height: 100%;
}

#myChart {
    height: 100%;
}
